// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      allow read: if isSignedIn() &&
        (resource.data.customerId == request.auth.uid ||
         resource.data.driverId == request.auth.uid);

      allow create: if isSignedIn() &&
        request.resource.data.customerId == request.auth.uid &&
        request.resource.data.status == "placed";

      allow update: if isSignedIn() && resource.data.driverId == request.auth.uid;
    }

    match /products/{productId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /addresses/{addressId} {
      allow read, update, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
}
  }
}